<link href="~/css/toastNotification.css" rel="stylesheet" />
<link href="~/css/Admin/Add.css" rel="stylesheet" />
<script src="~/js/toastnotification.js"></script>
<body>
    <div class="container" id="container">
        <div class="container1" >
            <h1>Thêm tài khoản</h1>
            <form id="addAccountForm" action="AddAccount" method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu:</label>
                    <input type="password" class="form-control" id="password showPassword" name="password" required>
                </div>
                <div class="form-group">
                    <label for="roleId">Vai trò:</label>
                    <select class="form-control" id="roleId" name="roleId">
                        <option value="2">Khách hàng</option>
                        <option value="3">Quản lý</option>
                        <option value="4">Đối tác</option>
                    </select>
                </div>
                <div class="buttons">
                    <button type="submit" class="btn btn-submit">Thêm tài khoản</button>
                    <button id="BackBtn" type="button" class="btn btn-back">Trở lại</button>
                </div>
            </form>
        </div>
    </div>
    <div id="toast"></div>
    @if (!string.IsNullOrEmpty(ViewBag.Success))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showSuccessToast();
            });
        </script>
    }
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                showErrorToast();
            });
        </script>
    }
    <script>
        document.getElementById("BackBtn").addEventListener("click", function () {
            window.location.href = "/admin/account";
        });
    </script>
</body>
<script>
    function showSuccessToast() {
        toast({
            title: 'Thành công',
            message: '@ViewBag.Success',
            type: 'success',
            duration: 2000
        });
    }
    function showErrorToast() {
        toast({
            title: 'Thất bại',
            message: '@ViewBag.ErrorMessage',
            type: 'error',
            duration: 2000
        });
    }
</script>