<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/css/Service.css">
<link href="~/css/toastNotification.css" rel="stylesheet" />

</head>
<body>
<h2>Chỉnh Sửa Dịch Vụ Thú Cưng</h2>
<div class="container">
  <form asp-action="EditService" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
    <div class="row">
      <div class="col-25">
        <label for="ServiceName">Tên Dịch Vụ:</label>
      </div>
      <div class="col-75">
        <input type="text" id="ServiceName" name="ServiceName" value="@Model?.ServiceName" placeholder="Tên Dịch Vụ.." required>
        <div style="color:red" class="error-message" id="fname-error-message"></div>
      </div>
    </div>
    <div class="row">
    <div class="col-25">
        <label for="image">Ảnh:</label>
    </div>
        
    <div class="col-75">
        <input type="file" id="image" name="image" onchange="changeImageSource()" style="margin-top:20px" >

        <img src="@Model?.Picture" height="100px" width="100px" style="float: left;" id="imagePreview">
        
    </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="Price">Giá:</label>
      </div>
      <div class="col-75">
                    <input type="number" id="Price" name="Price" value="@Model?.Price" placeholder="Giá tiền" required>
        <div style="color:red" class="error-message" id="price-error-message"></div> <!-- Lưu ý rằng id ở đây là "price-error-message" -->
      </div>
    </div>
    <div>@Model?.SerCategoriesName  hello</div>
    <div class="row">
        <div class="col-25">
            @*<input type="hidden" name="SerCategoriesId" value="@Model.SerCategoriesId" />*@

            <label for="SerCategoriesId">Loại Dịch Vụ</label>
        </div>
        <div class="col-75">
                <select id="SerCategoriesId" name="SerCategoriesId"  required>
                    <option value="@Model?.SerCategoriesId" >@Model?.SerCategoriesName</option>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.Value">@category.Text</option>
                    }
                </select>
        </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="Desciptions">Mô Tả:</label>
      </div>
      <div class="col-75">
        <textarea id="Desciptions" name="Desciptions" placeholder="Nội Dung .." style="height:200px" required>@Model?.Desciptions</textarea>
        <div style="color:red" class="error-message" id="subject-error-message"></div>
      </div>
    </div>
      <div class="row">
    <div class="col-25">
        <label for="Status">Trạng thái:</label>
    </div>
    <div class="col-75">
        <label class="switch">
            <input type="checkbox"  name="Status" @(Model.Status ? "checked" : "")>
            <span class="slider round"></span>
        </label>
    </div>
</div>
    <div class="row">
       <div class="btn-group col-2">
                    <a class="btn btn-primary btn_a" type="submit" value="Cancel" href="~/Manager/Service">Trở lại</a>
      </div>
      <div class="col-10">
                    <input class="btn btn-primary" type="submit" value="Lưu thay đổi">
      </div>
    </div>
  </form>
</div>
    </body>
<script src="~/js/Service.js"></script>
</html>