<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="~/css/Room - Customer.css">
<div class="bg">
    <h1>Dịch vụ trông giữ thú cưng</h1>
    <div class="container">
        <div class="listRoom">
            @if (Model != null && Model.Count > 0)
            {
                foreach (var room in Model)
                {
                    string description = room.Desciptions;

                    if (description.Length > 100)
                    {
                        int lastSpace = description.LastIndexOf(' ', 100);

                        description = (lastSpace > 0) ? description.Substring(0, lastSpace) + "..." : description.Substring(0, 100) + "...";
                    }
                    <div class="col-3">
                        <ul>
                            <li>
                                <a href="link to room">
                                    <div class="room">
                                        <img src="@room.Picture">
                                        <div class="name">@room.RoomName</div>
                                        <div>@description</div>
                                        <div>@room.Price đ</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" style="color:red">Không có dữ liệu để hiển thị.</td>
                </tr>
            }
        </div>
    </div>
</div>