@{
    ViewData["Title"] = "Xác minh Email thành công";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>HASH TECHIE OFFICIAL</title>

    <link rel="stylesheet" href="~/css/VerifyEmail.css">
    <link href="~/css/toastnotification.css" rel="stylesheet" />
    <script src="~/js/toastnotification.js"></script>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <h1 style="color: green; text-align: center; font-size: 20px">Chúc mừng bạn đã xác minh tài khoản thành công</h1>
                <p style="text-align:center"><a href="~/Login/Index">Đăng nhập</a> để nghiệm hệ thống</p>
            </div>
        </div>
        <div id="toast"></div>
        @if (!string.IsNullOrEmpty(TempData["SuccessRegisterSuccessToast"] as string))
        {
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    showSuccessRegisterSuccessToast();
                });
            </script>
        }
    </section>
</body>
    <script>
    function showSuccessRegisterSuccessToast() {
            toast({
                title: 'Thành công',
                message: '@TempData["SuccessRegisterSuccessToast"]',
                type: 'success',
                duration: 2000
            });
        }
    </script>
</html>
