* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*font-family: sans-serif;*/
    transition: .2s linear;
}

body {
    background-color:#FFC4A4;
    /*background-image:url("/img/backrough.jpg");*/
}
.card-container {
    /*display: flex;*/
    justify-content: center;
    flex-wrap: wrap;
    /*margin-top: 50px;*/
    
}
    .card {
        width: 255px;
        height:450px;
        background-color: #f0f0f0;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
        margin: 20px;
    }
.image img {
    width: 100%;
    height: 200px;
}

.card-content {
    padding: 16px;
    height:160px;
}

    .card-content h3 {
        font-size: 28px;
        margin-bottom: 8px;
    }
    .card-content p {
        color: #666;
        font-size: 13px;
        Line-height: 1.3;
    }


.container .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
}
    .container .card-container .card .btn:hover {
        letter-spacing: 1px;
    }

    .container .card-container .card:hover {
        box-shadow: 0 10px 15px rgba(0,0,0,.3);
        transform: scale(1.02);
    }

.heading {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 30px;
    color: #ff6a00;
    text-shadow: 0 5px 10px ☐ rgba(0,0,0,.2);
    font-size: 50px;
}

/*thanh tìm kiếm */
.group {
    display: flex;
    line-height: 28px;
    position: relative;
    max-width: 600px;
    margin-left:30%;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

    .input::placeholder {
        color: #9e9ea7;
    }

    .input:focus, input:hover {
        outline: none;
        border-color: rgba(234,76,137,0.4);
        background-color: #fff;
        box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    }

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1.5rem;
    height: 1.5rem;
    margin-top:7px;
}

/*button read more*/
a {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 10px;
 
    
}
.learn{
    position:static;
    text-align:center;
    margin-bottom:20px;
    height:100px;
    
}

    .learn a.learn-more {
        font-weight: 600;
        color: #382b22;
        text-transform: uppercase;
        padding: 1.25em 2em;
        background: #fff0f0;
        border: 2px dashed #b18597;
        border-radius: 0.75em;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    }

        a.learn-more::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /*border: 2px dashed #b18597;*/
            background: #f9c4d2;
            border-radius: inherit;
            -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
            box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
            -webkit-transform: translate3d(0, 0.75em, -1em);
            transform: translate3d(0, 0.75em, -1em);
            transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
        }

        a.learn-more:hover {
            background: #ffe9e9;
            -webkit-transform: translate(0, 0.25em);
            transform: translate(0, 0.25em);
        }

            a.learn-more:hover::before {
                -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
                box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
                -webkit-transform: translate3d(0, 0.5em, -1em);
                transform: translate3d(0, 0.5em, -1em);
            }

        a.learn-more:active {
            background: #ffe9e9;
            -webkit-transform: translate(0em, 0.75em);
            transform: translate(0em, 0.75em);
        }

            a.learn-more:active::before {
                -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
                box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
                -webkit-transform: translate3d(0, 0, -1em);
                transform: translate3d(0, 0, -1em);
            }
/*phân trang chia */
.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}

    .page-link.active {
        background-color: #3f51b5;
        color: #fff;
        border: 1px solid #3f51b5;
    }
/* Hiển thị các laoij chia size*/
#sortOrder {
    width: 180px;
    font-size: 16px;
    border: none;
    color: #7888DE;
    margin: 10px 0;
    box-shadow: rgba(79, 156, 232, 0.7019607843) 3px 3px 5px 0px, rgba(79, 156, 232, 0.7019607843) 5px 5px 20px 0px;
    background: linear-gradient(135deg, rgb(239, 247, 255) 0%, rgb(214, 229, 247) 100%);
    border-radius: 30px;
    padding: 10px;
    outline: none;
}

    #sortOrder option {
        color: #7888DE;
    }

        #sortOrder option:not([disabled]):hover {
            background: #3d76e9;
            color: white;
        }

#pageSize {
    width: 160px;
    font-size: 16px;
    border: none;
    color: #7888DE;
    margin: 10px 0;
    box-shadow: rgba(79, 156, 232, 0.7019607843) 3px 3px 5px 0px, rgba(79, 156, 232, 0.7019607843) 5px 5px 20px 0px;
    background: linear-gradient(135deg, rgb(239, 247, 255) 0%, rgb(214, 229, 247) 100%);
    border-radius: 30px;
    padding: 10px;
    outline: none;
}

    #pageSize option {
        color: #7888DE;
    }

        #pageSize option:not([disabled]):hover {
            background: #3d76e9;
            color: white;
        }
.name-search {
    color: #617aff;
    margin-right: 10px;
    font-size: 17px;
}
.sort {
    display: flex;
}

   
@media (max-width:768px) {

    .container {
        padding: 20px;
    }
}
