h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

a {
    text-decoration: none
}
    a:hover {
        text-decoration: none
    }

ul {
    list-style: none;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.room {
    align-items: center;
    text-align: center;
    border: 2px solid gray;
    padding: 5px;
    border-radius: 10px;
}

.listRoom {
    display: flex;
    flex-wrap: wrap;
}