/* General Styles */
.toast {
    display: flex;
    max-width: 420px;
    width: 420px;
    height: auto;
    align-items: center;
    background-color: white;
    border-radius: 16px;
    border-left: 6px solid;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.8);
    padding: 15px;
    padding-bottom:8px;
    transition: all linear 0.3s;
}

#toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

/* Animation Keyframes */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}


/* Spacing between toasts */
.toast + .toast {
    margin-top: 15px;
}

/* Icon and Body */
.toast_icon {
    font-size: 30px;
}

.toast_body {
    flex-grow: 1;
    margin-left: 15px; /* Add some spacing between icon and text */
}

/* Title and Message */
.toast_title {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-bottom: 5px;
}

.toast_msg {
    font-size: 16px;
    color: #888;
}

/* Close Button and Icon */
.toast_close,
.toast_icon {
    padding: 0 15px;
}

.toast_close {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Toast States */
.toast:not(.showing):not(.show) {
    opacity: 1;
}

.toast:not(.show) {
    display: flex;
}

/* Toast Types */
.toast--success {
    border-color: #47d864;
}

    .toast--success .toast_icon {
        color: #47d864;
    }

.toast--error {
    border-color: #ff623d;
}

    .toast--error .toast_icon {
        color: #ff623d;
    }

.toast--wating {
    border-color: #ffd43b;
    opacity: 1;
}

    .toast--wating .toast_icon {
        color: #ffd43b;
    }

/* Heading Styles */
h3 {
    padding-bottom: 10px;
    margin-bottom: 0;
}
