<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="~/css/DashBoard.css">
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="~/assets/css/vendor/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/sal.css">
    <link rel="stylesheet" href="~/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/vendor/base.css">

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/npm/react@16.12/umd/react.production.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-dom@16.12/umd/react-dom.production.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prop-types@15.7.2/prop-types.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-apexcharts@1.3.6/dist/react-apexcharts.iife.min.js"></script>

</head>

<body>
    <div class="Dashboard">
        <div class="container-fluid">
            <div class="page-header">
                <h4 class="page-title">Dashboard</h4>
            </div>
            <div class="row" style="margin-bottom: 30px;">

                @*Thống kê số lượng khách hàng mới trong tháng*@
                <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3" style="padding: 10px;">
                    <div class="card overflow-hidden" style="border: none; border-radius: 10px;">
                        <div class="card-body d-flex">
                            <div class="d-flex single-counter">
                                <div class="card-body" style="padding: 13px 0px 0px 20px;">
                                    <h7 class="fw-normal title">Khách hàng mới</h7>
                                    <h3 class="mt--5 mb-0 text-dark fw-semibold count">@ViewBag.NumberCustomerInMonth</h3>
                                </div>
                            </div>
                            <div class="ms-auto" style="padding: 10px 10px 0px 0px;">
                                <div class="chart-wrapper mt-1" style="color: #32d0fc;">
                                    <i class="fad fa-user-plus" style="font-size: 70px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-muted" style="padding: 0px 0px 0px 20px;">
                            <div class="card-body d-flex" style="padding: 0px 0px 0px 20px;">
                                @if (ViewBag.PercentCustomerPreviousMonth < 0)
                                {
                                    <i class="fa fa-arrow-alt-circle-down" style="font-size: 20px; color: #32d0fc; margin-top: 2.5px;"></i>
                                }
                                else
                                {
                                    <i class="fa fa-arrow-alt-circle-up" style="font-size: 20px; color: #32d0fc; margin-top: 2.5px;"></i>
                                }
                                <p style="color: #32d0fc;">&ensp;@ViewBag.PercentCustomerPreviousMonth%</p>&nbspTrong tháng
                            </div>
                        </div>
                    </div>
                </div>

                @*Thống kê số lượng đơn hoàn thành trong tháng*@
                <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3" style="padding: 10px;">
                    <div class="card overflow-hidden" style="border: none; border-radius: 10px;">
                        <div class="card-body d-flex">
                            <div class="d-flex single-counter">
                                <div class="card-body" style="padding: 13px 0px 0px 20px;">
                                    <h7 class="fw-normal title">Tổng đơn hàng</h7>
                                    <h3 class="mt--5 mb-0 text-dark fw-semibold count">@ViewBag.NumberOrderInMonth</h3>
                                </div>
                            </div>
                            <div class="ms-auto" style="padding: 10px 10px 0px 0px;">
                                <div class="chart-wrapper mt-1" style="color: #f478f4">
                                    <i class="fad fa-file-invoice-dollar" style="font-size: 70px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-muted" style="padding: 0px 0px 0px 20px;">
                            <div class="card-body d-flex" style="padding: 0px 0px 0px 20px;">
                                @if (ViewBag.PercentOrderPreviousMonth < 0)
                                {
                                    <i class="fa fa-arrow-alt-circle-down" style="font-size: 20px; color: #f478f4; margin-top: 2.5px;"></i>
                                }
                                else
                                {
                                    <i class="fa fa-arrow-alt-circle-up" style="font-size: 20px; color: #f478f4; margin-top: 2.5px;"></i>
                                }
                                <p style="color: #f478f4">&ensp;@ViewBag.PercentOrderPreviousMonth%</p>&nbspTrong tháng
                            </div>
                        </div>
                    </div>
                </div>

                @*Thống kê thu nhập trong tháng*@
                <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3" style="padding: 10px;">
                    <div class="card overflow-hidden" style="border: none; border-radius: 10px;">
                        <div class="card-body d-flex">
                            <div class="d-flex single-counter">
                                <div class="card-body" style="padding: 13px 0px 0px 20px;">
                                    <h7 class="fw-normal title">Tổng thu nhập</h7>
                                    <h3 class="mt--5 mb-0 text-dark fw-semibold count IncomeInMonth">@ViewBag.IncomeInMonth</h3>
                                </div>
                            </div>
                            <div class="ms-auto" style="padding: 10px 10px 0px 0px;">
                                <div class="chart-wrapper mt-1" style="color: #f7ba48;">
                                    <i class="fad fa-hand-holding-usd" style="font-size: 70px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-muted" style="padding: 0px 0px 0px 20px;">
                            <div class="card-body d-flex" style="padding: 0px 0px 0px 20px;">
                                @if (ViewBag.PercentIncomePreviousMonth < 0)
                                {
                                    <i class="fa fa-arrow-alt-circle-down" style="font-size: 20px; color: #f7ba48; margin-top: 2.5px;"></i>
                                }
                                else
                                {
                                    <i class="fa fa-arrow-alt-circle-up" style="font-size: 20px; color: #f7ba48; margin-top: 2.5px;"></i>
                                }
                                <p style="color: #f7ba48;">&ensp;@ViewBag.PercentIncomePreviousMonth%</p>&nbspTrong tháng
                            </div>
                        </div>
                    </div>
                </div>

                @*Thống kê số lượng sản phẩm bán ra trong tháng*@
                <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3" style="padding: 10px;">
                    <div class="card overflow-hidden" style="border: none; border-radius: 10px;">
                        <div class="card-body d-flex">
                            <div class="d-flex single-counter">
                                <div class="card-body" style="padding: 13px 0px 0px 20px;">
                                    <h7 class="fw-normal title">Tổng sản phẩm</h7>
                                    <h3 class="mt--5 mb-0 text-dark fw-semibold count">@ViewBag.NumberProductInMonth</h3>
                                </div>
                            </div>
                            <div class="ms-auto" style="padding: 10px 10px 0px 0px;">
                                <div class="chart-wrapper mt-1" style="color: #4ecc48">
                                    <i class="fad fa-parachute-box" style="font-size: 70px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-muted" style="padding: 0px 0px 0px 20px;">
                            <div class="card-body d-flex" style="padding: 0px 0px 0px 20px;">
                                @if (ViewBag.PercentNumberProductPreviousMonth < 0)
                                {
                                    <i class="fa fa-arrow-alt-circle-down" style="font-size: 20px; color: #4ecc48; margin-top: 2.5px;"></i>
                                }
                                else
                                {
                                    <i class="fa fa-arrow-alt-circle-up" style="font-size: 20px; color: #4ecc48; margin-top: 2.5px;"></i>
                                }
                                <p style="color: #4ecc48;">&ensp;@ViewBag.PercentNumberProductPreviousMonth%</p>&nbspTrong tháng
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" style="margin-bottom: 30px;">
                @*Thống kê doanh số bán trong 7 ngày gần nhất*@
                <div class="col-xl-9" style="padding: 10px; border: none;">
                    <div class="card overflow-hidden" style="border: none; border-radius: 10px;">
                        <div class="card-header" style="background-color: rgb(255, 255, 255); height: 50px;">
                            <div>
                                <h6 class="fw-normal title" style="padding: 10px; font-weight: 700!important">Doanh thu</h6>
                            </div>
                        </div>
                        <div class="box mt-4">
                            <div id="line-adwords" class=""></div>
                        </div>
                    </div>
                </div>
                @*Thống kê số đơn hàng hoàn thành/ bị hủy trong 3 tháng gần nhất*@
                <div class="col-xl-3" style="padding: 10px; border: none;">
                    <div class="card overflow-hidden" style="border: none; border-radius: 10px;">
                        <div class="card-header" style="background-color: rgb(255, 255, 255); height: 50px;">
                            <div>
                                <h6 class="fw-normal title" style="padding: 10px; font-weight: 700!important">Doanh thu</h6>
                            </div>
                        </div>
                        <div class="box mt-4">
                            <div id="column-charts-order" class=""></div>
                        </div>
                        <div class="card-body" style="padding: 20px;">
                            <div class="d-flex mb-4 mt-3">
                                <i class="fad fa-badge-check" style="margin-top: 5px; font-size: 30px; margin-right: 10px; color: rgb(153, 255, 0);"></i>
                                <div>
                                    <p class="mb-1 fw-semibold ">Hóa đơn hoàn thành</p>
                                    <p class="fw-normal fs-12 mb-1" style="font-size: 13px;"><span style="color: rgb(153, 255, 0);">9%</span> Tăng</p>
                                </div>
                                <div class="ms-auto mb-auto">
                                    <p class="fw-bold mb-0" style="font-size: 22px; color: rgb(73, 64, 64);">9999</p>
                                </div>
                            </div>
                            <div class="d-flex mb-4 mt-3">
                                <i class="fad fa-badge-check" style="margin-top: 5px; font-size: 30px; margin-right: 10px; color: rgb(255, 77, 0)"></i>
                                <div>
                                    <p class="mb-1 fw-semibold ">Hóa đơn bị hủy</p>
                                    <p class="fw-normal fs-12 mb-1" style="font-size: 13px;"><span style="color: rgb(255, 77, 0)">9%</span> Tăng</p>
                                </div>
                                <div class="ms-auto mb-auto">
                                    <p class="fw-bold mb-0" style="font-size: 22px; color: rgb(73, 64, 64);">9999</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/js/vendor/jquery.js "></script>
    <script src="~/assets/js/vendor/slick.min.js "></script>
    <script src="~/assets/js/vendor/jquery-ui.min.js "></script>
    <script src="~/assets/js/vendor/sal.js "></script>
    <script src="~/assets/js/vendor/imagesloaded.pkgd.min.js "></script>
    <script src="~/assets/js/vendor/counterup.js "></script>
    <script src="~/assets/js/vendor/waypoints.min.js "></script>
    <script src="~/assets/js/main.js "></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js "></script>

    @*Thống kê doanh số bán trong 7 ngày gần nhất*@
    <script>
        var optionsLine = {
            chart: {
                height: 420,
                type: 'line',
                zoom: {
                    enabled: false
                },
            },
            stroke: {
                curve: 'smooth',
                width: 4
            },
            colors: ["#ffc4a4", '#fba2d0', '#c688eb'],
            series: [{
                name: "&nbsp Music",
                data: [1, 15, 26, 20, 33, 27]
            }, {
                name: "&nbsp Photos",
                data: [3, 33, 21, 42, 19, 32]
            }, {
                name: "&nbsp Files",
                data: [0, 39, 52, 11, 29, 43]
            }],
            markers: {
                size: 4,
                strokeWidth: 0,
                hover: {
                    size: 6
                }
            },
            labels: ['01/15/2002', '01/16/2002', '01/17/2002', '01/18/2002', '01/19/2002', '01/20/2002'],
            xaxis: {
                labels: {
                    style: {
                        fontSize: '13px',
                    }
                }
            },
            yaxis: {
                labels: {
                    style: {
                        fontSize: '13px',
                    }
                }
            },
            legend: {
                offsetY: 8,
                fontSize: '14px',
            }
        }
        var chartLine = new ApexCharts(document.querySelector('#line-adwords'), optionsLine);
        chartLine.render();
    </script>

    @*Thống kê số đơn hàng hoàn thành/ bị hủy trong 3 tháng gần nhất*@
    <script>
        var options = {
            series: [{
                name: 'Net Profit',
                data: [44, 55, 57]
            }, {
                name: 'Revenue',
                data: [76, 85, 101]
            }],
            chart: {
                type: 'bar',
                height: 350,
                zoom: {
                    enabled: false
                },
            },
            colors: ["#d6ff99", '#ffb899'],
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '30%',
                    endingShape: 'rounded'
                },
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 3,
                colors: ['transparent']
            },
            xaxis: {
                categories: ['Feb', 'Mar', 'Apr'],
            },
            fill: {
                opacity: 1
            },
            xaxis: {
                labels: {
                    style: {
                        fontSize: '13px',
                    }
                }
            },
            yaxis: {
                labels: {
                    style: {
                        fontSize: '13px',
                    }
                }
            },
            legend: {
                fontSize: '14px',
            }
        };

        var chart = new ApexCharts(document.querySelector("#column-charts-order"), options);
        chart.render();
    </script>
</body>

</html>