<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Introduce.css">

    <title>Document</title>
</head>

<body>
    <div class="first">
        <p class="title">Giới thiệu về <a style="color: #e21033; text-decoration: none;" href="/">Pet Service</a></p>
        <p class="title-content">Nơi Tuyệt Vời Cho Bạn Và Người Bạn Đáng Yêu Của Bạn</p>
        <div class="path">
            <a href="/home">Trang chủ &ensp;</a> / &ensp; Giới thiệu
        </div>
    </div>
    <div class="main">
        <div class="container">
            <p class="content">
                Bạn yêu thú cưng và muốn chăm sóc cho chúng một cách tốt nhất? Bạn đang tìm kiếm một nơi có thể cung cấp cho bạn các dịch vụ chất lượng và uy tín về thú cưng? Bạn muốn tìm một cộng đồng nơi bạn có thể giao lưu và chia sẻ niềm đam mê với những
                người cùng sở thích? Nếu bạn có những câu hỏi này, thì hãy đến với <a style="color: #e21033; text-decoration: none;" href="/">Pet Service</a> - website dành cho những người yêu thú cưng.
            </p>
            <ul>
                <li>
                    <p class="title">Chăm sóc thú cưng:</p>
                    <p class="content">
                        Bạn có thể đặt lịch hẹn với các bác sĩ thú y, nhân viên cắt tỉa lông, nhân viên tắm rửa, nhân viên huấn luyện,… để chăm sóc cho thú cưng của bạn một cách chuyên nghiệp và an toàn. Bạn cũng có thể tìm kiếm các cửa hàng bán thức ăn,
                        đồ chơi, phụ kiện,… cho thú cưng của bạn với giá cả hợp lý và chất lượng đảm bảo.
                    </p>
                    <img src="~/img/icon/takecarepet.jpg" style="width: 70%; margin-left: 15%; border-radius: 5px;">
                </li>
                <li>
                    <p class="title">Spa thú cưng:</p>
                    <p class="content">
                        Bạn muốn thú cưng của bạn được thư giãn và làm đẹp? Bạn có thể đưa chúng đến các spa thú cưng được liên kết với <a style="color: #e21033; text-decoration: none;" href="/">Pet Service</a> để thưởng thức các dịch vụ như massage, cắt
                        tỉa lông, nhuộm màu, làm móng,… Bạn cũng có thể chọn các gói combo spa với giá ưu đãi và nhiều ưu đãi khác.
                    </p>
                    <img src="~/img/icon/OIG.KlU6YGEHJG.jpg" style="width: 40%; margin-left: 30%; border-radius: 5px;">
                </li>
                <li>
                    <p class="title">Dắt thú cưng đi dạo: </p>
                    <p class="content">Bạn bận rộn và không có thời gian dắt thú cưng của bạn đi dạo? Bạn lo lắng về sức khỏe và tâm lý của chúng khi ở nhà một mình? Bạn có thể thuê các nhân viên dắt thú cưng của <a style="color: #e21033; text-decoration: none;" href="/">Pet Service</a>                        để chăm sóc và chơi đùa với chúng. Bạn cũng có thể theo dõi quá trình dắt thú cưng của bạn qua ứng dụng trên điện thoại và nhận được các báo cáo chi tiết về tình trạng của chúng.</p>
                    <img src="~/img/icon/OIG.jpg" style="width: 40%; margin-left: 30%; border-radius: 5px;">
                </li>
                <li>
                    <p class="title">Bán sản phẩm thú cưng:</p>
                    <p class="content">
                        Bạn có thể mua sắm các sản phẩm cho thú cưng của bạn trên website của chúng tôi với nhiều lựa chọn và giá cả hấp dẫn. Bạn có thể tìm thấy các sản phẩm như thức ăn, đồ chơi, phụ kiện, quần áo, giường, chuồng, dụng cụ vệ sinh,… cho các
                        loại thú cưng khác nhau. Bạn cũng có thể đặt hàng online và nhận hàng tận nơi với dịch vụ giao hàng nhanh chóng và tiện lợi.
                    </p>
                </li>
                <li>
                    <p class="title">Dịch vụ trông giữ thú cưng:</p>
                    <p class="content">
                        Bạn đi du lịch xa mà nơi đó không cho phép đưa thú cưng đi cùng, bạn không biết phải gửi chúng cho ai? Đừng lo, bên chúng tôi có dịch vụ trông giữ thú cưng với giá vô cùng ưu đãi, đội ngũ chuyên nghiệp đảm báo có thể mọi thú cưng dù
                        là thú cưng khó tính nhất.
                    </p>
                    <img src="~/img/icon/takecarepet1.jpg" style="width: 70%; margin-left: 15%; border-radius: 5px;">
                </li>
                <li>
                    <p class="title">Đội ngũ Pet Service:</p>
                    <p class="content">
                        Đội ngũ của chúng tôi không chỉ là những nhân viên, mà là một gia đình đầy lòng nhiệt huyết và đam mê với thú cưng. Tại Pet Service, chúng tôi tự hào về đội ngũ chuyên nghiệp và tận tâm của mình. Mỗi thành viên trong đội ngũ của chúng
                        tôi không chỉ là một người làm việc, họ là những người yêu thú cưng, luôn sẵn lòng chăm sóc và đối xử với thú cưng như những thành viên trong gia đình của họ.
                    </p>
                    <img src="~/img/icon/takecarepet2.jpg" style=" width: 70%; margin-left: 15%; border-radius: 5px; ">
                </li>
            </ul>
            <p class="title">Tại sao lại chọn <a style="color: #e21033; text-decoration: none;" href="/">Pet Service</a>?</p>
            <ul>
                <li class="content">Dịch vụ CHẤT LƯỢNG đi đôi với UY TÍN.</li>
                <li class="content">Đội ngũ nhân viên CHUYÊN NGHIỆP với THÁI ĐỘ phục vụ Pet yêu một cách tốt nhất.</li>
                <li class="content">Trang thiết bị ĐẦY ĐỦ, ĐẢM BẢO vệ sinh sạch sẽ.</li>
                <li class="content">Gói Dịch Vụ Phong Phú và Đa Dạng.</li>
                <li class="content">Chăm Sóc Đa Chiều Từ Đội Ngũ Chuyên Gia.</l>
                <li class="content">Sự Đa Dạng trong Trang Thiết Bị và Sản Phẩm.</li>
                <li class="content">Giá Trị Đích Thực với Mỗi Đồng Tiền.</li>
            </ul>
        </div>
    </div>
</body>

</html>