<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/Rules.css">
</head>

<body>
    <div class="first">
        <p class="title">Điều khoản sử dụng</p>
        <div class="path">
            <a href="/home">Trang chủ &ensp;</a> / &ensp; Điều khoản
        </div>
    </div>
    <div class="main">
        <div class="container">
            <ul class="content">
                <li>
                    <p class="title">Quy định chung</p>
                    <p class="content-detail">Bằng việc truy cập Per Service và sử dụng các Dịch vụ của chúng tôi, tức là bạn đồng ý bị ràng buộc với Điều khoản Sử dụng này và những chính sách về hình ảnh, bảo mật của chúng tôi.</p>
                </li>
                <li>
                    <p class="title">Từ chối đảm bảo</p>
                    <p class="content-detail">
                        Pet Service không chịu trách nhiệm đối với bất kỳ sự mất mát dữ liệu, tổn thất lợi ích nào hoặc các vấn đề khác liên quan đến việc truy cập trang web và sử dụng các dịch vụ của chúng tôi bao gồm: thông tin, văn bản, âm thanh, hình
                        ảnh, video… hoặc một số các nội dung khác mà bạn đưa lên Website chúng tôi.
                    </p>
                </li>
                <li>
                    <p class="title">Quy định sử dụng dịch vụ</p>
                    <p class="content-detail">Khi sử dụng dịch vụ của Pet Service, bên cạnh việc phải ký hợp đồng dịch vụ theo mẫu do chúng tôi phát hành, bạn còn bị ràng buộc phải chấp thuận, tuân thủ những điều kiện quy định dưới đây:</p>
                    <ul>
                        <li class="content-detail">Thanh toán phí dịch vụ theo thỏa thuận.</li>
                        <li class="content-detail">Tuân thủ quy định của pháp luật.</li>
                        <li class="content-detail">Giải quyết các tranh chấp xảy ra trên cơ sở hòa thuận và hợp tác.</li>
                    </ul>
                </li>
                <li>
                    <p class="title">Quy định về đăng ký, sử dụng tài khoản và thanh toán phí dịch vụ</p>
                    <p class="content-detail">Chúng tôi cung cấp các dịch vụ cho bạn thông qua hệ thống trực tuyến của Pet Service.</p>
                    <p class="content-detail">
                        Bạn xác nhận và đồng ý rằng là bạn đã đọc và tuân thủ tất cả các quy định về tài khoản, chi phí và thanh toán được đăng trên Pet Service của chúng tôi. Với việc chấp nhận thủ tục đăng ký tức là bạn đã bị ràng buộc thực hiện đối với
                        các quy định về đăng ký và sử dụng dịch vụ.
                    </p>
                    <p class="content-detail">Với mục đích là tối ưu sự tiện dụng và sự hiệu quả của bạn khi sử dụng dịch vụ, sản phẩm của chúng tôi nên chúng tôi luôn thay đổi những điều khoản này.</p>
                </li>
                <li>
                    <p class="title">Giới hạn trách nhiệm</p>
                    <p class="content-detail">Bạn xác nhận và đồng ý rằng Pet Service chỉ sẵn sàng cung cấp các dịch vụ khi bạn đồng ý giới hạn trách nhiệm của chúng tôi đối với bạn và các bên thứ ba.</p>
                    <p class="content-detail">
                        Bạn sẽ là người chịu trách nhiệm bồi thường đối với những khiếu nại, kiện cáo hay bất cứ sự việc liên quan nào tới việc bạn sử dụng sản phẩm và dịch vụ của chúng tôi. Đồng thời, bạn phải đồng ý chịu những trách nhiệm với tất cả những
                        nội dung và thông tin mà bạn đã hoặc sẽ cung cấp cho chúng tôi.
                    </p>
                </li>
                <li>
                    <p class="title">Bảo vệ bản quyền và quyền sở hữu trí tuệ khác với các sản phẩm và dịch vụ của chúng tôi</p>
                    <p class="content-detail">Tất cả các sản phẩm, dịch vụ của chúng tôi cung cấp đều sẽ được bảo vệ bởi quyền thương hiệu hoặc quyền sở hữu tài sản do chúng tôi sở hữu hoặc có được từ bên thứ ba cung cấp.</p>
                    <p class="content-detail">Bạn hoàn toàn không được quyền sử dụng bất kỳ nhãn hiệu nào của sản phẩm, dịch vụ, biểu tượng hoặc bất cứ hình thức nhận diện nào khác của chúng tôi vào mục đích thương mại nếu chưa được sự cho phép của chúng tôi.</p>
                    <p class="content-detail">Pet Service rất tôn trọng quyền sở hữu trí tuệ của mọi người và chúng tôi yêu cầu người sử dụng sản phẩm/dịch vụ của chúng tôi cũng vậy.</p>
                    <p class="content-detail">Nếu bạn có bất kỳ thắc mắc nào về điều khoản sử dụng trên trang web này, hãy liên hệ với chúng tôi qua hotline: 036.2543.040 hoặc email: lienhe@petservice.vn</p>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>