@*@model FEPetServices.Form.ProductCategoryDTO*@
@{
    ViewData["Title"] = "Thêm Loại Sản Phẩm";
}
<h1 style="text-align:center">Thêm Loại Sản Phẩm Mới</h1>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" style="color:red">
        @ViewBag.ErrorMessage
    </div>
}
@if (!string.IsNullOrEmpty(TempData["SuccessMessage"]?.ToString()))
{
    <div class="alert alert-success" style="color:red">
        @TempData["SuccessMessage"]
    </div>
}
<link href="~/css/manager/productcategory.css" rel="stylesheet" />

<div class="container-add-new">
    <form asp-action="CreateNewProductCategory" method="post" enctype="multipart/form-data">
        <div class="noidung">
            <div class="anh-cate-product">
                <div class="form-group">
                    <div class ="title">
                        <label for="image">Ảnh:</label>
                    </div>
                    <div class="typeinput">
                        <input type="file" class="form-control" style="color: red;" id="image" name="image" onchange="changeImageSource()">
                        <img class="form-control-anh" src="~/img/add-image-1.png" height="50%" width="50%" style="float: left;" id="imagePreview" />
                    </div>
                </div>
            </div>
            <div class="noidung-cate-product">
                <div class="form-group">
                    <div class="title">
                        <label for="ProCategoriesName">Tên Loại Sản Phẩm: </label>
                    </div>
                    <div class="typeinput">
                        <input type="text" class="form-control" id="ProCategoriesName" name="ProCategoriesName" value="@Model?.ProCategoriesName" style="width:100%" />
                    </div>
                    
                </div>
    
                <div class="form-group">
                    <div class="title">
                        <label for="Desciptions">Mô Tả Chi Tiết: </label>
                    </div>
                    <div class="typeinput">
                        <textarea class="form-control" id="Desciptions" name="Desciptions" style="width:100%; height: auto"> @Model?.Desciptions</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-cate">
            <div class="btn-add-new">
                <button type="submit" class="btn btn-primary" style="background: #FFD6E4; color: #E21033;">Thêm Mới</button>
            </div>
            <div class="btn-return-cateList">
                <button type="button" style="background: #FFD6E4; color: #E21033;" onclick="returnProductCategory()">
                    Quay lại Danh Sách
                </button>
            </div>
        </div>
    </form>
    <script src="~/js/manager/productcategory.js"></script>
</div>
