@model FEPetServices.Form.ProductCategoryDTO
<h1 style="text-align:center">Chỉnh Sửa Loại Sản Phẩm</h1>
<link href="~/css/toastNotification.css" rel="stylesheet" />
<link href="~/css/manager/productcategory.css" rel="stylesheet" />
<div class="container container-add-new">
    <form asp-action="CreateNewProductCategory" method="post" enctype="multipart/form-data" onsubmit="return validateForm();">
        <div class="noidung">
            <div class="anh-cate-product">
                <div class="form-group">
                    <div class="title">
                        <label for="image">Ảnh:</label>
                    </div>
                    <div class="typeinput">
                        <input type="file" class="form-control" id="image" name="image" onchange="changeImageSource()">
                        @if (!string.IsNullOrEmpty(Model?.Picture))
                        {
                            <img class="form-control-anh" src="@Model?.Picture" height="50%" width="50%" style="float: left;" id="imagePreview" />
                        }
                        else
                        {
                            <img class="form-control-anh" src="~/img/add-image-1.png" height="50%" width="50%" style="float: left;" id="imagePreview" />
                        }
                    </div>
                </div>
            </div>
            <div class="noidung-cate-product">
                <div class="form-group">
                    <div class="title">
                        <label for="ProCategoriesName">Tên Loại Sản Phẩm<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>: </label>
                    </div>
                    <div class="typeinput">
                        <input type="text" class="form-control" id="ProCategoriesName" name="ProCategoriesName" value="@Model?.ProCategoriesName" style="width:100%" required />
                        <div style="color: red" class="error-message" id="fnameErrorMessage"></div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="title">
                        <label for="Desciptions">Mô Tả Chi Tiết<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>: </label>
                    </div>
                    <div class="typeinput">
                        <textarea class="form-control" id="Desciptions" name="Desciptions" style="width:100%; height: auto" required>@Model?.Desciptions</textarea>
                        <div style="color: red" class="error-message" id="subjectErrorMessage"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="title">
                        <label for="Status">Trạng thái: </label>
                    </div>
                    <div class="typeinput">
                        <label class="switch">
                            <input type="checkbox" name="Status" @(Model.Status ?? false ? "checked" : "")>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6" style="text-align:left">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </div>
            <div class="col-6" style="text-align:right">
                <button class="btn btn-primary" type="button" onclick="returnProductCategory()">
                    Quay lại Danh Sách
                </button>
            </div>
        </div>
    </form>
    <script src="~/js/manager/productcategory.js"></script>
</div>
<script>
    function validateForm() {
        const fname = document.getElementById('ProCategoriesName');
        const subject = document.getElementById('Desciptions');
        const fnameErrorMessage = document.getElementById('fnameErrorMessage');
        const subjectErrorMessage = document.getElementById('subjectErrorMessage');

        console.log('Debug: fname.value', fname.value);
        console.log('Debug: subject.value', subject.value);

        const specialChars = /[!#$%^&*()_+{}\[\]:;<>,.?~\\/-]/; // Regular expression kiểm tra ký tự đặc biệt

        // Đặt lại thông báo lỗi
        fnameErrorMessage.textContent = "";
        subjectErrorMessage.textContent = "";

        let isValid = true;

        if (specialChars.test(fname.value)) {
            fnameErrorMessage.textContent = "Không được chứa ký tự đặc biệt.";
            isValid = false;
        }

        if (specialChars.test(subject.value)) {
            subjectErrorMessage.textContent = "Không được chứa ký tự đặc biệt.";
            isValid = false;
        }

        return isValid;
    }
</script>
<style>
.fa-asterisk {
            color: red;
            font-size:6px;
            padding-top:20px;
            margin-right:10px;
        }
</style>
