<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="~/js/takeAddress.js"></script>

</head>
<body>
    <div class="container light-style flex-grow-1 container-p-y">

        <h4 class="font-weight-bold py-3 mb-4">
            Account settings
        </h4>

        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">

                            <div class="card-body media align-items-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="d-block ui-w-80">
                                <div class="media-body ml-3">
                                    <label class="btn btn-outline-primary">
                                        Upload new photo
                                        <input type="file" class="account-settings-fileinput">
                                    </label> &nbsp;
                                    <button type="button" class="btn btn-default md-btn-flat">Reset</button>

                                    <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                                </div>
                            </div>

                            <form method="post" asp-controller="Infomation" asp-action="Index" style="margin-right:10px">
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputFirstName">Họ</label>
                                        <input class="form-control" name="FirstName" id="inputFirstName" type="text" placeholder="Nhập họ hoặc tên đệm của bạn" value="@Model?.UserInfo.FirstName">
                                    </div>
                                    <div class="col-md-6" >
                                        <label class="small mb-1" for="inputLastName">Tên</label>
                                        <input class="form-control" name="LastName" id="inputLastName" type="text" placeholder="Nhập tên của bạn" value="@Model?.UserInfo.LastName">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputEmailAddress">Email</label>
                                    <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="@Model?.Email">
                                </div>

                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputProvince">Tỉnh</label>
                                        <select class="form-control" id="provinceDropdown" onchange="loadDistricts()">
                                            <option value="@Model?.UserInfo.Province" selected>@Model?.UserInfo.Province</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputDistrict">Huyện/Thành Phố</label>
                                        <select class="form-control" id="districtDropdown" onchange="loadWards()">
                                            <option value="@Model?.UserInfo.District" selected>@Model?.UserInfo.District</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputWard">Xã/Quận</label>
                                        <select class="form-control" id="wardDropdown">
                                            <option value="@Model?.UserInfo.Commune" selected>@Model?.UserInfo.Commune</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputAddress">Địa chỉ cụ thể</label>
                                        <input class="form-control" name="Address" id="inputAddress" type="text" placeholder="Nhập địa chỉ" value="@Model?.UserInfo.Address">
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="small mb-1" for="inputPhone">Số điện thoại </label>
                                    <input class="form-control" name="Phone" id="inputPhone" type="text" placeholder="Nhập số điện thoại của bạn" value="@Model?.UserInfo.Phone">
                                </div>
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputDescriptions">Mô tả </label>
                                    <textarea class="form-control" name="Descriptions" id="inputDesciptions" placeholder="Mô tả về bạn">@Model?.UserInfo.Descriptions</textarea>
                                </div>
                                <button class="btn btn-primary" type="submit">Lưu thay đổi</button>
                            </form>

                        </div>
                        <div class="tab-pane fade" id="account-change-password">
                            <form method="post" asp-controller="ChangePassword" asp-action="Index" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="OldPassword" class="form-label">Mật khẩu cũ</label>
                                    <input asp-area="Manager" asp-for="OldPassword" class="form-control" id="OldPassword" name="OldPassword" type="password" placeholder="Nhập mật khẩu cũ" required>
                                </div>

                                <div class="mb-3">
                                    <label for="NewPassword" class="form-label">Mật khẩu mới</label>
                                    <div class="input-group">
                                        <input asp-area="Manager" asp-for="NewPassword" class="form-control" id="NewPassword" name="NewPassword" type="password" placeholder="Nhập mật khẩu mới" required>
                                        <span class="input-group-text" id="showPassword">
                                            <i class="far fa-eye" id="eyeIcon"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="ConfirmNewPassword" class="form-label">Nhập lại mật khẩu mới</label>
                                    <div class="input-group">
                                        <input class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" type="password" placeholder="Nhập lại mật khẩu mới" required>
                                        <span class="input-group-text" id="showConfirmPassword">
                                            <i class="far fa-eye" id="eyeConfirmIcon"></i>
                                        </span>
                                    </div>
                                </div>
                                <button class="btn btn-primary mb-3" type="submit">Đổi mật khẩu</button>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script>
        function showSuccessToast() {
            toast({
                title: 'Thành công',
                message: '@ViewBag.SuccessToast',
                type: 'success',
                duration: 2000
            });
        }
        function showErrorToast() {
            toast({
                title: 'Thất bại',
                message: '@ViewBag.ErrorToast',
                type: 'error',
                duration: 2000
            });
        }

    $(document).ready(function () {
        $("#showPassword").click(function () {
            togglePasswordVisibility("NewPassword", "eyeIcon");
        });

        $("#showConfirmPassword").click(function () {
            togglePasswordVisibility("ConfirmNewPassword", "eyeConfirmIcon");
        });

        function togglePasswordVisibility(passwordFieldId, eyeIconId) {
            var passwordField = $("#" + passwordFieldId);
            var eyeIcon = $("#" + eyeIconId);

            if (passwordField.attr("type") === "password") {
                passwordField.attr("type", "text");
                eyeIcon.removeClass("far fa-eye");
                eyeIcon.addClass("far fa-eye-slash");
            } else {
                passwordField.attr("type", "password");
                eyeIcon.removeClass("far fa-eye-slash");
                eyeIcon.addClass("far fa-eye");
            }
        }
    });
    </script>
<style>
    body {
        background: #f5f5f5;
        margin-top: 20px;
    }

    .ui-w-80 {
        width: 80px !important;
        height: auto;
    }

    .btn-default {
        border-color: rgba(24,28,33,0.1);
        background: rgba(0,0,0,0);
        color: #4E5155;
    }

    label.btn {
        margin-bottom: 0;
    }

    .btn-outline-primary {
        border-color: #26B4FF;
        background: transparent;
        color: #26B4FF;
    }

    .btn {
        cursor: pointer;
    }

    .text-light {
        color: #babbbc !important;
    }

    .btn-facebook {
        border-color: rgba(0,0,0,0);
        background: #3B5998;
        color: #fff;
    }

    .btn-instagram {
        border-color: rgba(0,0,0,0);
        background: #000;
        color: #fff;
    }

    .card {
        background-clip: padding-box;
        box-shadow: 0 1px 4px rgba(24,28,33,0.012);
    }

    .card-body {
        display:flex;
    }
    .row-bordered {
        overflow: hidden;
    }

    .account-settings-fileinput {
        position: absolute;
        visibility: hidden;
        width: 1px;
        height: 1px;
        opacity: 0;
    }

    .account-settings-links .list-group-item.active {
        font-weight: bold !important;
    }

    html:not(.dark-style) .account-settings-links .list-group-item.active {
        background: transparent !important;
    }

    .account-settings-multiselect ~ .select2-container {
        width: 100% !important;
    }

    .light-style .account-settings-links .list-group-item {
        padding: 0.85rem 1.5rem;
        border-color: rgba(24, 28, 33, 0.03) !important;
    }

        .light-style .account-settings-links .list-group-item.active {
            color: #4e5155 !important;
        }

    .material-style .account-settings-links .list-group-item {
        padding: 0.85rem 1.5rem;
        border-color: rgba(24, 28, 33, 0.03) !important;
    }

        .material-style .account-settings-links .list-group-item.active {
            color: #4e5155 !important;
        }

    .dark-style .account-settings-links .list-group-item {
        padding: 0.85rem 1.5rem;
        border-color: rgba(255, 255, 255, 0.03) !important;
    }

        .dark-style .account-settings-links .list-group-item.active {
            color: #fff !important;
        }

    .light-style .account-settings-links .list-group-item.active {
        color: #4E5155 !important;
    }

    .light-style .account-settings-links .list-group-item {
        padding: 0.85rem 1.5rem;
        border-color: rgba(24,28,33,0.03) !important;
    }

</style>
</html>
