@model FEPetServices.Form.RegisterDTO

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/RegisterPartner.css">
    <title>HASH TECHIE OFFICIAL</title>

    <script src="https://smtpjs.com/v3/smtp.js">
    </script>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form class="login-form" method="post">
                    <h2>Đăng ký làm đối tác</h2>
                    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
                    {
                        <h1 style="color: red ; text-align: center; font-size: 20px">Chúc mừng bạn đến với chúng tôi</h1>
                        <p style="text-align:center; font-style: italic; font-size: 16px;">Vui lòng chờ đợi quản trị viên xét duyệt thông tin tài khoản của bạn</p>
                        <p style="text-align:center"><a href="~/Login/Index">Đăng nhập</a> để nghiệm hệ thống</p>
                    }
                    else
                    {
                        <div class="inputbox">
                            <ion-icon name="accessibility-outline"></ion-icon>
                            <input asp-for="FirstName" type="text" required>
                            <label for="">Họ</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="accessibility-outline"></ion-icon>
                            <input asp-for="LastName" type="text" required>
                            <label for="">Tên</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="call-outline"></ion-icon>
                            <input asp-for="Phone" type="tel" pattern="0\d{9}" title="Số điện thoại phải bắt đầu bằng số 0 và có tổng cộng 10 chữ số" required>
                            <label for="">Số điện thoại</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>
                            <input asp-for="Email" type="email" required>
                            <label for="">Email</label>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input asp-for="Password" type="password" required>
                            <label for="">Mật khẩu</label>
                        </div>
                        <div class="forget">
                            <label for="">
                                <input type="checkbox" id="agreeCheckbox">Tôi đồng ý với các
                                <a id="showTerms" href="" style="color:blue">điều khoản</a>
                                của hệ thống
                            </label>
                        </div>
                        <button id="registerButton">Đăng ký</button>
                        <div class="register">
                            <p>Quay trở lại <a href="~/Login/Index">Đăng nhập</a></p>
                        </div>
                    }
                </form>
            </div>
        </div>

        <div class="form-box2">
            <div class="form-box3">
                <div class="form-value">
                    <div class="rules">
                        <h1>Điều khoản hệ thống</h1>
                        <div class="ruleinfo">
                            <p>Điều 1: Bạn cần chấp nhận tất cả điều khoản và điều kiện của chúng tôi</p>
                        </div>
                        <div class="ruleinfo">
                            <p>Điều 2: Làm việc với sự nghiêm túc, nhiệt huyết, trung thực</p>
                        </div>
                        <div class="ruleinfo">
                            <p>Điều 3: Đảm bảo dịch vụ bạn phụ trách đáp ứng đủ chất lượng</p>
                        </div>
                        <div class="ruleinfo">
                            <p>Điều 4: Tuân thủ các biện pháp bảo mật thông tin của khách hàng</p>
                        </div>
                        <div class="ruleinfo">
                            <p>Điều 5:Không thực hiện bất kỳ hành động làm tổn hại đến hệ thống</p>
                        </div>
                        <div class="ruleinfo">
                            <p>Điều 6: Cam kết cung cấp chính xác thông tin</p>
                        </div>
                    </div>
                    <div class="image">
                        <input id="checkimage" type="file" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
<script src="~/js/RegisterPartner.js"></script>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}
