<link rel="stylesheet" href="/css/Blog/AddBlog.css"></link>

<head>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
         tinymce.init({
            selector: 'textarea#tiny',
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist checklist outdent indent | removeformat | code table help'
        });
    </script>
</head>
<body>
<div class="title">
    <h1>Chỉnh sửa bài viết</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form asp-action="AddBlog" method="post"  enctype="multipart/form-data">
        <div class="form-group">
          <label>Tên bài viết<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
          <input type="text" class="form-control" name="PageTile" required placeholder="Tên bài viết"/>
        </div>
        <div class="form-group">
          <label>Tiêu đề bài viết<i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
          <input type="text" class="form-control" name="Heading" required  placeholder="Tiêu đề bài viết"/>
        </div>
        <div class="form-group">
          <label>Mô tả <i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
          <input type="text" class="form-control" name="Description" required placeholder="Mô tả"/>
        </div>
        <div class="form-group">
          <label>Ngày đăng <i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
          <input type="date" class="form-control" name="PublisheDate" required placeholder="Title"/>
        </div>
        <div class="form-group">
          <label>Ảnh <i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
          <div class="input-group">
            <input type="file" name="image" required class="form-control">
           </div>
        </div>
        <div class="form-group">
            <label>Nội dung <i class="fa-sharp fa-solid fa-asterisk fa-rotate-270 fa-xs"></i>:</label>
          <textarea class="form-control" id="tiny" required name="Content"></textarea>
        </div>
        <div class="form-group">
            <div class="row">
            <div class="sub">
            <a href="/Manager/Blog"><input  value="Trở Lại" class="btn btn-primary form-control"/></a>
            </div>
            <div class="sub">
               <input type="submit" name="Submit" value="Lưu" class="btn btn-primary form-control" />
            </div>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
<style>
.fa-asterisk{
    color:red;
}
</style>
</body>